@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --default-dark-color: #344767;
    --default-white-color: #FFFFFF;
    --default-gray-color: #7B809A;
    --default-background-color: #F0F2F5;
    --default-hover-color: #4F4F52;
    --default-active-color: #E91F63;
    --red-gradient: linear-gradient(180deg, #E93B77 0%, #DA1F63 100%);
    --green-gradient: linear-gradient(180deg, #63B967 0%, #4BA64F 100%);
    --black-gradient: linear-gradient(180deg, #3E3D45 0%, #202020 100%);
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--default-background-color);
}

.container {
    display: flex;
    padding: 5px;
}


/* SIDEBAR */

.sidebar {
    padding: 10px 20px;
    margin-right: 40px;
    border-radius: 15px;
    position: sticky;
    background: linear-gradient(180deg, #3E3D45 0%, #202020 100%);
    display: flex;
    flex-direction: column;
    color: var(--default-white-color);
    min-width: 250px;
    max-width: 300px;
}

.profile, .logo {
    display: flex;
    align-items: center;
}

.hr {
    margin: 10px 0;
    height: 0px;
    width: 100%;
    Box-shadow: 0px 0px 0px 0.5px white;
}

.nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapse-btn {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    align-items: center;
    flex: 1;
    color: inherit;
    background: 0;
    border: 0;
    font-size: 14px;
    width: 100%;
}

button.collapsible,
button.def-btn {
    padding: 15px;
    display: flex;
    align-items: center;
    /* flex: 1; */
    color: inherit;
    background: 0;
    border: 0;
    font-size: 14px;
    width: 100%;
    letter-spacing: 0.01rem;
    border-radius: 5px;
    margin: 5px 0;
}

button.collapsible.admin {
    padding: 10px;
}

.admin-photo {
    margin-right: 16px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background: url(./imgs/admin-photo.jpg);
}

.button-info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

button ~ .active {
    background-color: var(--default-active-color);
}
button ~ .active:hover {
    background-color: var(--default-active-color);
}

button:hover {
    transition: 0.2s;
    background-color: var(--default-hover-color);
}

/* MAIN */

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 40px;
    padding-right: 20px;
    padding: 15px;
    color: var(--default-dark-color)
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-left {
    display: flex;
    align-items: center;
}

.header-nav-right {
    display: flex;
    margin-right: 30px;
    align-items: center;
    gap: 20px;
}

.dashboard-header-btns > .nav-icon {
    display: flex;
    gap: 25px;
}

.dashboard-header-btns > .nav-icon > img {
    opacity: 0.7;
}

.dashboard-header-btns > .nav-icon > img:hover {
    opacity: 1;
    transition: 0.3s;
}

.search-btn {
    position: relative;
    margin-right: 50px;
}

.search-input {
    border: 1px solid var(--default-gray-color);
    border-radius: 10px;
    background: var(--default-background-color);
    padding: 10px;
    width: 15em;
}

.search-btn .search-text {
    pointer-events: none;
    position: absolute;
    padding: 10px;
    margin-left: 10px;
    color: var(--default-gray-color);
    right: 0;
    left: 0;
    transition: 0.2s;
}

.search-input:focus ~ span,
.search-input:focus-visible ~ span {
    opacity: 0;
}

.search-input:not(:placeholder-shown) ~ span {
    opacity: 0;
}

.search-input:focus {
    border: 2px solid var(--default-dark-color);
    outline: 0;
}

.page-route {
    position: relative;
    bottom: 10px;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

/*  SMALL BOXES */

.header-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.dashboard-info-small {
    position: relative;
    background: white;
    border-radius: 15px;
    flex: 1;
    width: 300px;
    padding-top: 0px;
    box-shadow: 0px 3px 10px -5px  rgba(0, 0, 0, 0.5);
}

.content-img {
    position: absolute;
    bottom: 73%;
    left: 30px;
    border-radius: 15px;
    width: 4.5em;
    height: 4.5em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-img img {
    width: 24px;
    height: 24px;
}

.dashboard-info-small:nth-child(1) > .content-img {
    background: linear-gradient(180deg, #3E3D45 0%, #202020 100%);
}

.dashboard-info-small:nth-child(2) > .content-img {
    background: linear-gradient(180deg, #E93B77 0%, #DA1F63 100%);
}

.dashboard-info-small:nth-child(3) > .content-img {
    background: linear-gradient(180deg, #63B967 0%, #4BA64F 100%);
}

.dashboard-info-small:nth-child(4) > .content-img {
    background: linear-gradient(180deg, #439DEE 0%, #1E78E9 100%);
}

    /* INFO UP */

    .info-up {
        display: flex;
        flex-direction: column;
        align-items: end;
        border-bottom: 2px solid #e4e4e4;
    }

    .info-up p {
        font-weight: 300;
        padding: 0px;
        margin: 20px 20px 0px 0px;
    }

    p.number {
        margin: 5px 20px 10px 0px;
        font-weight: 600;
        font-size: 26px;
    }


    /* INFO DOWN */

    .info-down {
        display: flex;
        padding: 10px;
        margin-left: 10px;
        gap: 8px;
    }

    .info-down p {
        font-size: 16px;
        font-weight: 300;
    }

    p.positive {
        font-weight: 600;
        color:#4BA64F;
    }

/* BIG INFO + TABLE */

.big-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 60px;
}

.dashboard-info-big {
    position: relative;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 3px 10px -5px  rgba(0, 0, 0, 0.5);
}

.content-img-big {
    position: absolute;
    bottom: 73%;
    left: 20px;
    top: -30px;
    border-radius: 15px;
    width: 91%;
    height: 15rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-big {
    margin-top: 230px;
}

.info-big p {
    margin-left: 25px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
}

p.info-header {
    font-weight: 600;
    margin-bottom: 0px;
}

.info-big-down {
    border-top: 2px solid #e4e4e4;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-big-down > .nav-icon {
    display: flex;
    position: relative;
    left: 20px;
    align-items: center;
    padding: 0px;
}

.info-big-down > p {
    padding-left: 0px;
    margin: 10px 0;
}

.dashboard-info-big:nth-child(1) > .content-img-big {
    background: var(--red-gradient);
}

.dashboard-info-big:nth-child(2) > .content-img-big {
    background: var(--green-gradient);
}

.dashboard-info-big:nth-child(3) > .content-img-big {
    background: var(--black-gradient);
}