@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --default-dark-color: #344767;
    --default-white-color: #FFFFFF;
    --default-gray-color: #7B809A;
    --default-background-color: #F0F2F5;
    --default-hover-color: #4F4F52;
    --default-active-color: #E91F63;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--default-background-color);
}

.container {
    display: flex;
    padding: 5px;
}


/* SIDEBAR */

.sidebar {
    padding: 10px 20px;
    margin-right: 40px;
    border-radius: 15px;
    position: sticky;
    background: linear-gradient(180deg, #3E3D45 0%, #202020 100%);
    display: flex;
    flex-direction: column;
    color: var(--default-white-color);
    min-width: 230px;
    max-width: 250px;
}

.profile, .logo {
    display: flex;
    align-items: center;
}

.hr {
    margin: 10px 0;
    height: 0px;
    width: 100%;
    Box-shadow: 0px 0px 0px 0.5px white;
}

.nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapse-btn {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    align-items: center;
    flex: 1;
    color: inherit;
    background: 0;
    border: 0;
    font-size: 14px;
    width: 100%;
}

button.collapsible,
button.def-btn {
    padding: 15px;
    display: flex;
    align-items: center;
    /* flex: 1; */
    color: inherit;
    background: 0;
    border: 0;
    font-size: 14px;
    width: 100%;
    letter-spacing: 0.01rem;
    border-radius: 5px;
    margin: 5px 0;
}

button.collapsible.admin {
    padding: 10px;
}

.admin-photo {
    margin-right: 16px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background: url(./imgs/admin-photo.jpg);
}

.button-info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

button ~ .active {
    background-color: var(--default-active-color);
}
button ~ .active:hover {
    background-color: var(--default-active-color);
}

button:hover {
    transition: 0.2s;
    background-color: var(--default-hover-color);
}

/* MAIN */

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
}

.header {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.header-nav-left {
    display: flex;
    align-items: center;
}

.header-nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard-header-btns > .nav-icon {
    display: flex;
    gap: 25px;
}

.dashboard-header-btns > .nav-icon > img {
    opacity: 0.8;
}

.dashboard-header-btns > .nav-icon > img:hover {
    opacity: 1;
}

.search-btn {
    position: relative;
    margin-right: 50px;
}

.search-input {
    border: 1px solid var(--default-gray-color);
    border-radius: 10px;
    background: var(--default-background-color);
    padding: 10px;
    width: 20em;
}

.search-btn .search-text {
    position: absolute;
    padding: 10px;
    margin-left: 10px;
    color: var(--default-gray-color);
    right: 0;
    left: 0;
}